<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="***REMOVED***"/>
    <add key="AWSSecretKey" value="***REMOVED***"/>
    <add key="AWSBucket" value="***REMOVED***test"/>
    <add key="AWSBaseUrl" value="http://STNStorage.s3.amazonaws.com/"/>
    <add key="AGSSTNServer" value="https://stntestmapservices.wim.usgs.gov:6080/arcgis/rest/services/STN"/>
    <add key="GeocoderServer" value="http://geocoding.geo.census.gov" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <connectionStrings>
    <add name="STNDBEntities"
      connectionString="metadata=res://*/STNEntities.csdl|res://*/STNEntities.ssdl|res://*/STNEntities.msl;provider=Npgsql;provider connection string=&quot;Database=stnnew;Host=stnnewtst.ck2zppz9pgsw.us-east-1.rds.amazonaws.com;Username={0};PASSWORD={1};Application Name=STN&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="5000000"/>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="480"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <httpHandlers>
      <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
    </httpHandlers>
    <httpModules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="OpenRastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
    </modules>
    <handlers>
      <add name="OpenRastaHandler" verb="*" path="*.rastahook"
        type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet, Version=2.0.0.0, Culture=neutral"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="openrasta" switchName="OpenRasta">
        <listeners>
          <add name="ErrorEventLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="OpenRasta" value="All"/>
    </switches>
    <sharedListeners>
      <add name="ErrorEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL"
        type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF"/>
    </DbProviderFactories>
  </system.data>
</configuration>